.sideBar {
    width: 100%;
    height: 100%;
    padding-top: 20px;

    .optionsCon {
        font-weight: 500;
        font-size: 14px;
        line-height: 50px;
        padding-left: 40px;
        color: #323E49;
        cursor: pointer;
    }
}