.productCard {
    width: 180px;
    display: inline-block;
    margin-right: 50px;
    color: #474747;

    .imgSection {
        width: 180px;
        height: 180px;
        background-color: rgb(235, 253, 215);
        border-radius: 10px;
    }

    section {
        padding-top: 5px;
        font-size: 13px;
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .price {
        font-size: 14px;
        margin-top: 5px;
        color: #a7a7a7;

        strong {
            font-size: 500;
            color: black;
        }
    }

    .pieces {
        font-size: 12px;
        margin-top: 5px;

        span {
            color: #a7a7a7;
        }
    }

    .bt{
        margin-top: 12px;
        font-size: 10px;
        text-transform: none;
        border-radius: 30px;
        padding: 2px 10px 2px 10px;
        color: #797979;
        border-color: #c6c6c6;
    }
}