.sideBar {
    width: 100%;
    height: 100%;
    padding-top: 20px;

    .child-dash{
        padding-right: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
        line-height: inherit !important;
    }

    .optionsCon {
        font-weight: 500;
        font-size: 14px;
        line-height: 50px;
        padding-left: 40px;
        color: #323E49;
        cursor: pointer;
    }
}